/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
  list-style: none;
  text-decoration: none;
}

/* sass */
:root {
  --primary-color: #0b2c3d;
  --secondary-color: #ff5a3c;
  --secondary-color-opacity: #ff593c4d;
  --btn-color: #c82609;
  --text-color: #071c1f;
  --gray-color: #b8c2c6;
  --white-color: #fff;
  --black-color: #000;
  --off-white: #f2f6f7;
}
body {
  min-height: 500vh;
}

/* custom */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
  color: var(--text-color);
}
p {
  font-family: "Rajdhani", sans-serif;
  color: var(--gray-color);
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  font-family: "Titilium", sans-serif;
  color: var(--white-color);
}
i {
  color: var(--secondary-color);
}

/* end of custom */

/* :::::::::: TOP NAV  :::::::::::::: */
/* :::::::::: TOP NAV  :::::::::::::: */
/* top nav */
.topnav {
  background: var(--primary-color);
  min-height: 8vh;
}
/* .topnav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.topnav .container .left-item,
.topnav .container .right-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
  font-size: 0.84rem;
}
.topnav .container .left-item a:hover {
  color: var(--secondary-color);
}
.topnav .container .right-item a i {
  color: var(--white-color);
}
.topnav .container .right-item .item-2 {
  background: var(--secondary-color);
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
}
.topnav .container .right-item .item-2:hover {
  background: var(--btn-color);
}

/* :::::::::: HEADER  :::::::::::::: */
/* :::::::::: HEADER  :::::::::::::: */
/* header */
.header {
  background: var(--white-color);
  min-height: 15vh;
  /* position: fixed; */
  width: 100%;
  box-shadow: 0 0.1rem 2rem var(--primary-color);
}
.header .container {
  min-height: 15vh;
}
/* 
.header .container .logo img{} 
*/

.header .container .links ul {
  display: flex;
  gap: 2rem;
}
.header .container .links ul li {
  font-size: 0.92rem;
}
.header .container .links ul li a {
  color: var(--text-color);
  transition: all 0.43s ease-in-out;
}
.header .container .links ul li a:hover {
  color: var(--secondary-color);
}

.header .container .src {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header .container .src .search,
.header .container .src .user,
.header .container .src .cart {
  background: var(--white-color);
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.235);
  padding: 0.82rem;
}
.header .container .src .search a,
.header .container .src .user a,
.header .container .src .cart a {
  color: var(--text-color);
}
.header .container .src .search a i,
.header .container .src .user a i,
.header .container .src .cart a i {
  color: var(--text-color);
}

.header .container .src .search:hover,
.header .container .src .user:hover,
.header .container .src .cart:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.header .container .src .search:hover a i,
.header .container .src .user:hover a i,
.header .container .src .cart:hover a i,
.header .container .src .cart:hover a span {
  color: var(--white-color);
}

.header .container .src .cart {
  position: relative;
}
.header .container .src .cart a span {
  position: absolute;
  top: 0;
}

/* :::::::::: MAIN  :::::::::::::: */
/* :::::::::: MAIN  :::::::::::::: */
/* main */
main {
  background: var(--off-white);
  min-height: 500vh;
  padding: 2rem 0;
}
/* banner */
#banner {
  padding: 2rem 0;
}
#banner .container .left-content {
  width: 50%;
}
#banner .container .left-content p {
  margin: 1rem 0;
  color: var(--text-color);
  font-weight: bolder;
  font-size: 1.2rem;
}
#banner .container .left-content h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

#banner .container .left-content .cont {
  border-left: 1px solid var(--primary-color);
  padding: 0 2rem;
}

#banner .container .left-content .cont p {
  color: var(--gray-color);
  font-weight: normal;
}

#banner .container .left-content .cta {
  margin: 2.7rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}
#banner .container .left-content .cta button {
  background: var(--secondary-color);
  padding: 1.6rem 3rem;
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 0.12rem;
}

#banner .container .left-content .cta .play-btn {
  background-color: var(--white-color);
  border-radius: 50px;
  box-shadow: 0 0 0.9rem #0000003c;
  padding: 1.12rem;
}

#banner .container .right-content {
  width: 50%;
}
#banner .container .right-content img {
  width: 100%;
  object-fit: cover;
}

/* search */
#search {
  background: var(--white-color);
  padding: 3rem 0;
}
#search .container {
  box-shadow: 0rem 0.2rem 1.9rem #0000003c;
  padding: 2rem;
  height: 20vh;
}
#search .container form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search .container form select {
  width: 250px;
  height: 50px;
  padding: 0 1rem;
  font-weight: bold;
  overflow-y: scroll;
}
#search .container form select:focus {
  border: 1px solid var(--black-color);
  box-shadow: none;
  outline: none;
}
#search .container form .btn button {
  background: var(--secondary-color);
  padding: 1rem 3rem;
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 0.12rem;
}

/* about one */
#about-one {
  background-color: var(--white-color);
  padding: 3rem 0;
}

#about-one .container {
  gap: 4rem;
}
#about-one .container .left-cont {
  position: relative;
}
#about-one .container .left-cont .img-one {
  position: relative;
}
#about-one .container .left-cont .img-two {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 50%;
}

#about-one .container .right-cont .abtu,
#about-two .container .left-cont .abtu {
  background: var(--secondary-color-opacity);
  color: var(--secondary-color);
  width: 16%;
  text-align: center;
  padding: 0.3rem;
  border-radius: 40px;
}
#about-one .container .right-cont .headings ,
#about-two .container .left-cont .headings {
  margin: 1.5rem 0;
  padding-bottom: 2rem;
}
#about-one .container .right-cont .headings h2,
#about-two .container .left-cont .headings h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 1.5rem 0;
}
#about-one .container .right-cont .headings h2 > span {
  color: var(--secondary-color);
}
#about-one .container .right-cont .headings p,
#about-two .container .left-cont .headings p {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--primary-color);
}
#about-one .container .right-cont .icon-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
#about-one .container .right-cont .icon-text .box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#about-one .container .right-cont .icon-text .box p {
  color: var(--text-color);
}
#about-one .container .right-cont .icon-text .box .icon {
  background: var(--secondary-color-opacity);
  color: var(--secondary-color);
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
}
#about-one .container .right-cont .enimad {
  background: var(--secondary-color-opacity);
  border-left: 4px solid var(--secondary-color);
  padding: 1.5rem 2rem;
}
#about-one .container .right-cont .enimad p {
  line-height: 1.8;
  color: var(--text-color);
}
#about-one .container .right-cont .cta {
  margin: 2rem 0;
}
#about-one .container .right-cont .cta button {
  background: var(--secondary-color);
  padding: 1.5rem 3rem;
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 0.12rem;
}

/* achievement */
#achievement {
  padding: 6rem 0;
}
#achievement .container {
  width: 75%;
}
#achievement .container .box {
  text-align: center;
}
#achievement .container .box i {
  font-size: 5rem;
}
#achievement .container .box h2 {
  font-size: 2rem;
  margin: 1.5rem 0;
}
#achievement .container .box p {
  font-size: 1.22rem;
  color: var(--text-color);
}

/* about-two */
#about-two {
  background: var(--white-color);
  padding: 6rem 0;
}
#about-two .container{
  gap: 5rem;
}
#about-two .container .left-cont .list ul li{
  display: flex;
  align-items: center;
  gap: .65rem;
  font-family: "nunito";
  line-height: 2.5;
}
#about-two .container .left-cont .list ul li div{
  width: 15px;
  height: 1.72px;
  background: var(--secondary-color);
}
#about-two .container .left-cont .images{
 display: flex;
 gap: 1rem;
 margin: 2rem 0;
}
#about-two .container .left-cont .images img{
 width: 30%;
}


#about-two .container .right-cont,
#about-two .container .left-cont{
  width: 50%;
}
#about-two .container .right-cont img{
  width: 100%;

}


/* :::::::::: FOOTER  :::::::::::::: */
/* :::::::::: FOOTER  :::::::::::::: */
/* footer */
